* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #124;
}

.canvas-container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
}

#canvas {
  display: block;
  margin: auto;
}
